extends layout

block content
  h1= title
  p Min: #{min}
  p Max: #{max}
  p Standard Deviation: #{stdev}
  p Clusters Centroids:
  each cluster in clusters
    p= cluster.centroid
  p When Memory Hits 0 bytes available: #{zeroDate}
  #data(style='display: none;')= clustersString
  #allData(style='display: none;')= allData
  div(id="container" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto")
  div(id="container2" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto")
  script.
      let theData = JSON.parse(document.querySelector('#data').innerHTML);
      let allData = JSON.parse(document.querySelector('#allData').innerHTML);
      Highcharts.chart('container', {
          chart: {
              type: 'scatter',
              zoomType: 'xy'
          },
          title: {
              text: 'Clusters of go_memstats_gc_sys_bytes'
          },
          xAxis: {
              title: {
                  enabled: true,
                  text: 'Time in Milliseconds'
              },
              startOnTick: true,
              endOnTick: true,
              showLastLabel: true
          },
          yAxis: {
              title: {
                  text: 'go_memstats_gc_sys_bytes'
              }
          },
          legend: {
              layout: 'vertical',
              align: 'left',
              verticalAlign: 'top',
              x: 100,
              y: 70,
              floating: true,
              backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
              borderWidth: 1
          },
          plotOptions: {
              scatter: {
                  marker: {
                      radius: 5,
                      states: {
                          hover: {
                              enabled: true,
                              lineColor: 'rgb(100,100,100)'
                          }
                      }
                  },
                  states: {
                      hover: {
                          marker: {
                              enabled: false
                          }
                      }
                  },
                  tooltip: {
                      headerFormat: '<b>{series.name}</b><br>',
                      pointFormat: '{point.x} seconds, {point.y}'
                  }
              }
          },
          series: [{
              name: '1st Cluster',
              color: 'rgba(223, 83, 83, .5)',
              data: theData[0].points

          }, {
              name: '2nd Cluster',
              color: 'rgba(119, 152, 191, .5)',
              data: theData[1].points
          }, {
              name: '3rd Cluster',
              color: 'rgba(0,128,0, .5)',
              data: theData[2].points
          }]
      });

      Highcharts.chart('container2', {
                chart: {
                    type: 'scatter',
                    zoomType: 'xy'
                },
                title: {
                    text: 'go_memstats_gc_sys_bytes'
                },
                xAxis: {
                    title: {
                        enabled: true,
                        text: 'Time in Milliseconds'
                    },
                    startOnTick: true,
                    endOnTick: true,
                    showLastLabel: true
                },
                yAxis: {
                    title: {
                        text: 'go_memstats_gc_sys_bytes'
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'left',
                    verticalAlign: 'top',
                    x: 100,
                    y: 70,
                    floating: true,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
                    borderWidth: 1
                },
                plotOptions: {
                    scatter: {
                        marker: {
                            radius: 5,
                            states: {
                                hover: {
                                    enabled: true,
                                    lineColor: 'rgb(100,100,100)'
                                }
                            }
                        },
                        states: {
                            hover: {
                                marker: {
                                    enabled: false
                                }
                            }
                        },
                        tooltip: {
                            headerFormat: '<b>{series.name}</b><br>',
                            pointFormat: '{point.x} cm, {point.y} kg'
                        }
                    }
                },
                series: [{
                    name: 'All Data',
                    color: 'rgba(223, 83, 83, .5)',
                    data: allData

                }]
            });




